<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>การรถไฟแห่งประเทศไทย</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>
    <!-- Section Navbar -->
    <section>
        <nav id="nav-scroll" class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <div class="row" style="width: 100%; margin: auto;">
                    <div class="col-12 col-md-2 col-lg-2">
                        <div class="navbar-brand">
                            <a href="">
                                <img id="logo-scroll" class="logo" src="assets/image/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-10 col-lg-10">
                        <div class="clearfix">
                            <div class="float-end">
                                <!-- register & login -->
                                <ul class="navbar-nav">
                                    <li>

                                        <% if(ses==false){ %>
                                            <div class="nav-link">
                                                <img src="assets/image/icon3.png" alt="">
                                                <span class="text-header">
                                                    <a href="" data-bs-target="#login-form"
                                                        data-bs-toggle="modal">เข้าสู่ระบบ</a>
                                                    <span style="font-size: 25px;">|</span>
                                                    <a href="" data-bs-target="#register-form"
                                                        data-bs-toggle="modal">สมัครสมาชิก</a>
                                                </span>
                                            </div>
                                            <% }else{ %>
                                                <% login_data.forEach(function(item){ %>
                                                    <span class="text-header">
                                                        <a>
                                                            <%= item.First_Name %>
                                                        </a>
                                                        <a>
                                                            <%= item.Last_Name %>
                                                        </a>
                                                        <span style="font-size: 25px;">|</span>
                                                        <a href="/logout">ออกจากระบบ</a>
                                                    </span>
                                                    <% }) %>
                                                        <% } %>
                                    </li>
                                    <li>
                                        <div class="position-login nav-link">
                                            <a href="">
                                                <img src="assets/image/icon-alert.png" alt="">
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- button page -->
                        <div>
                            <ul class="navbar-nav text-header ">
                                <li><a href="/index" class="nav-link"> หน้าแรก</a></li>
                                <li><a href="" class="nav-link"> ประวัติการซื้อ</a></li>
                                <li><a href="" class="nav-link"> เปลี่ยนแปลงตั๋ว</a></li>
                                <li><a href="" class="nav-link"> ยกเลิกตั๋วโดยสาร</a></li>
                                <li><a href="" class="nav-link"> สิทธิพิเศษ</a></li>
                                <li><a href="https://www.dticket.railway.co.th/DTicketPublicWeb/help/#bookticket"
                                        target="_blank" class="nav-link"> ศูนย์ความช่วยเหลือ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </section>
    <!-- Action Modal   -->
    <section>
        <!-- Register -->
        <div class="container">
            <div class="modal" id="register-form">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h2 class="modal-title w-100">สมัครสมาชิก</h2>
                            <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body text-form">
                            <form action="register" method="post">
                                <div class=" clearfix mb-3 text-form">
                                    <div class="md-form">
                                        <input type="text" name="First_Name" placeholder="ชื่อ* "
                                            class="form-control validate w-50 float-start">
                                        <input type="text" name="Last_Name" placeholder="นามสกุล * "
                                            class="form-control validate w-50 float-end">
                                    </div>
                                </div>
                                <div class="md-form mb-3">
                                    <input type="text" name="Id_Card" placeholder="เลขประจำตัวประชาชน *"
                                        class="form-control validate">
                                </div>
                                <div class="md-form mb-3">
                                    <input type="text" name="Tel" placeholder="เบอร์โทรศัพท์"
                                        class="form-control validate">
                                </div>
                                <div class="md-form mb-3">
                                    <input type="text" name="Email" placeholder="อีเมล *" class="form-control validate">
                                </div>
                                <div class="md-form mb-3">
                                    <input type="text" name="Password" placeholder="รหัสผ่าน *"
                                        class="form-control validate">
                                </div>
                                <div class="md-form mb-3">
                                    <input type="text" placeholder="ยืนยันรหัสผ่าน *" class="form-control validate">
                                </div>
                                <button type="submit" class="btn-rgt">Signup</button>
                            </form>

                        </div>
                        <div class="modal-footer d-flex justify-content-center border-top-0">

                            <div class="footer-login">
                                <span>มีบัญชีอยู่แล้ว ? </span><a href="">เข้าสู่ระบบ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login -->
        <div class="container">
            <div class="modal" id="login-form">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100">เข้าสู่ระบบ</h4>
                            <button class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body text-form">
                            <form action="login" method="post">
                                <div class="md-form mb-3">
                                    <input type="text" name="Email" placeholder="อีเมล" class="form-control validate">
                                </div>
                                <div class="md-form mb-3">
                                    <input type="text" name="Password" placeholder="รหัสผ่าน"
                                        class="form-control validate">
                                </div>
                                <button type="submit" class="btn-rgt">Login</button>
                            </form>
                        </div>
                        <div class="modal-footer d-flex justify-content-center border-top-0">
                            <div class="footer-login">
                                <span>ยังไม่มีบัญชี ? </span><a href="">สมัครสมาชิก</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Confirm Order -->
    <section>
        <div class="con-order">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="text-route text-center">
                            <h2>ยืนยันรายการจองตั๋ว</h2>
                        </div>
                    </div>
                </div>
                <form action="confirmOrder" method="post">
                    <div class="row justify-content-center">
                        <div class="col-12 content-order">
                            <div class="text-center text-order">
                                <% login_data.forEach(function(item){ %>
                                    <h3>ชื่อ-สกุล <span>
                                            <%= item.First_Name %>
                                        </span> <span>
                                            <%= item.Last_Name %>
                                        </span></h3>
                                    <hr>
                                    <h3>เลขประจำตัวประชาชน <span>1300101183840</span></h3>
                                    <% }) %>
                                        <hr>
                                        <% F_route.forEach(function(item){ %>
                                            <h3>ต้นทางสถานี <span>
                                                    <%= item.Source %>
                                                </span> ปลายทางสถานี <span>
                                                    <%= item.Destination %>
                                                </span></h3>
                                            <% }) %>
                                                <hr>
                                                <h3>วันที่ขบวนเดินทาง <span>
                                                        <%= dateTime %>
                                                    </span></h3>
                                                <hr>
                                                <h3>จำนวนผู้โดยสาร <span>
                                                        <%= amount %>
                                                    </span> คน</h3>
                                                <hr>
                            </div>
                        </div>
                        <div class="col-12 text-center confirm">
                            <button type="submit" onclick="return confirm('ยืนยันการจองหรือไม่?')">ยืนยัน</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script src=" assets/js/navbar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
        </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.0/mdb.min.js"></script>
</body>

</html>